<div class="publications">
  {% comment %} {% bibliography --group_by none --query @*[selected=true]* %} {% endcomment %}
  <h3>
    <a style="color: inherit">Measuring the reliability and alignment of ML models.</a>
  </h3>
  {% bibliography --group_by none --query @*[selected=1]* %}

  <h3>
    <a style="color: inherit">Designing reliable and interpretable predictive models.</a>
  </h3>
  {% bibliography --group_by none --query @*[selected=2]* %}

  <h3>
    <a style="color: inherit">Enabling user-controllable generation.</a>
  </h3>
  {% bibliography --group_by none --query @*[selected=3]* %}
</div>
